.wrapper {
    display: grid;
    grid-template-columns: repeat(9, 10.8vw);
    grid-auto-rows: 45vh;
    border: none;
}

.button{
    width: 97.2vw;
    height: 10vh;
}

.modButton {
    position:relative;
    width: 97.2vw;
    height: 10vh;
    top: 10vh;
    right: 10.8vw;
    
}

.sliderContainer{

    position: relative;
    right: 250px;
    width: 100%;
    
    
    
}

.rangeSlider{
    -webkit-appearance: none;
    width:100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.5;
    -webkit-transition: .2s;
    transition: opacity 2s;
}

.rangeSlider:hover{
    opacity: 1;
}

.rangeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 25px;
    
    background: #4CAF50;
    cursor: pointer;
  }
 /* .rangeSlider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }
  */

  #drop-shadow {
    box-shadow: 7px 7px 20px 0px  rgba(0,0,0,0.3), 40px 40px 10px -40px  rgba(0,0,0,0.8) inset;
  }
  